$colorBack: #FFFF;
/*Background triangle texture */
body {
  background: url(../img/backgroundMobile.svg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.unscrollable {
  overflow: hidden;
}

/*Main content with logo and name first name*/
.main {
  background-color: $colorBack;
  text-align: center;
  margin-top: 180px;

  img {
    width: 50%;
  }

  p {
    font-family: Yanone-regular;
    font-size: 40px;
  }
}

/*Main content profil*/
.main-profil {
  overflow: auto;
  margin-top: 150px;
  padding-bottom: 150px;
}

.article-profil {
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color: $colorBack;

  .icon-profil {
    text-align: center;
  }

  .title {
    font-family: Bebas;
    font-size: 50px;
    padding-left: 25px;
  }

  .sub-title {
    font-family: Bebas;
    font-size: 35px;
    padding-left: 25px;
  }

  .skills {
    padding-left: 30px;
    margin-bottom: 30px;

    .stars {
      display: flex;
      justify-content: center;
      height: 50px;

      svg {
        width: 50px;
        margin-right: 10px;
      }
    }
  }

  .orange-stars {
    fill: #FF8800;
  }

  p {
    font-family: Yanone-regular;
    font-size: 30px;
    padding-left: 35px;
    padding-right: 10px;
  }

  .me-preview {
    background-image: url("../img/mobile/moi.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid #868e96;
    margin: auto;
  }

}


/*Main content work*/
.main-work {
  overflow: auto;
  margin-top: 150px;
  padding-bottom: 150px;
}

.submain-work {
  margin-bottom: 50px;
  background-color: $colorBack;
  display: flex;
  justify-content: center;

  .article-work {
    text-decoration: none;
    padding-top: 20px;

    a {
      color: #000;
    }

    a:hover {
      text-decoration: none;
      color: #000;
    }

    .text {
      color: #000;
      font-family: Yanone-regular;
      font-size: 23px;
    }

    .svg {
      text-align: center;
    }

    svg {
      width: 30px;
      height: 50px;
    }
  }

  .image-preview {
    background-size: contain;
    background-repeat: no-repeat;
    width: 265px;
    height: 140px;
    border-radius: 100px;
    border: 1px solid #868e96;
    margin: 0;
  }

  .first-site {
    background-image: url("../img/mobile/first_web.jpg");
  }

  .site-boostrap {
    background-image: url("../img/mobile/first_bootstrap.jpg");
  }

  .site-yoga {
    background-image: url("../img/mobile/entreprise_yoga.jpg");
  }
}

/*Main content contact page*/
.main-contact {
  background-color: $colorBack;
  margin-top: 150px;
  margin-bottom: 150px;

  h2 {
    margin: 0;
    padding-top: 50px;
    padding-left: 25px;
    font-family: Bebas;
    font-size: 30px;
  }

  svg {
    width: 65px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    padding-left: 50px;

    div {
      display: flex;
      flex-direction: row;
    }
  }

  .phone {
    font-family: Bebas;
    font-size: x-large;

    div {
      margin: auto auto auto 20px;
    }
  }

  .email {
    font-family: Yanone-regular;
    font-weight: bold;
    font-size: x-large;

    div {
      margin: auto auto auto 20px;
    }
  }

}

/*Networks ticket a the top right of the screen*/
.networks {
  position: fixed;
  top: 0;
  width: 90px;
  right: -40px;
  background-color: $colorBack;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px #888888;

  ul {
    list-style: none;
    padding: 5px 5px 5px 5px;
    margin: 0;
  }

  svg {
    width: 40px;
    height: 40px;
  }
}

/*Media for desktop*/
@media only screen and (min-width: 900px) {
  body {
    background: url(../img/backgroundDesktop.svg) fixed right;
  }

  .networks {
    display: none
  }

  /*Main content with logo and name first name*/
  .main {
    background-color: $colorBack;
    width: 93%;
    float: right;
    text-align: center;
    margin-top: 230px;

    img {
      width: 20%;
    }

    p {
      font-size: 70px;
    }
  }

  /*Main content profil*/
  .main-profil {
    margin-top: 230px;
    padding-bottom: 50px;
    width: 93%;
    float: right;
  }

  /*Main content work*/
  .main-work {
    margin-top: 230px;
    margin-bottom: 50px;
    padding-bottom: 0;
    width: 93%;
    float: right;
  }

  .submain-work {
    width: 100%;

    .article-work {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding-bottom: 20px;

      .text {
        font-size: 39px;
      }

      svg {
        width: 30px;
      }

      a {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a:hover{
        border-left: 3px solid #212529;
        border-right: 3px solid #212529;
        border-radius: 150px;
      }

    }

  }


  /*Main content contact page*/
  .main-contact {
    width: 93%;
    float: right;
    margin-top: 230px;

    .contact {
      width: 65%;
      float: right;
      margin: auto;
      padding: 0;

      h2 {
        padding-left: 0;
        font-size: 50px;
      }
    }

    .phone {
      font-size: 45px;
    }

    .email {
      font-size: 45px;
    }

  }


}