/*header text with gradient color*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $colorBack;
  h1 {
    font-size: 45px;
    font-family: Bebas;
    background: -webkit-linear-gradient(#FF8800, #F2691D, #E14B2A, #CC2C32, #B30037);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
  }
  #imgHeader {
    padding-left: 10px;
    width: 50px;
    display: none;
  }
}
