/*Navbar for phones*/
nav {
  background: rgb(255, 136, 0);
  background: linear-gradient(180deg, rgba(255, 136, 0, 1) 0%, rgba(242, 105, 29, 1) 25%, rgba(225, 75, 42, 1) 50%, rgba(204, 44, 50, 1) 75%, rgba(179, 0, 55, 1) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em;
    width: 100%;
  }

  li {
    width: 100%;

    a {
      color: $colorBack;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Yanone-regular;
      font-size: x-large;
    }

    a:hover {
      text-decoration: none;
      color: #212529;

      svg {
        fill: #212529;
      }
    }

    svg {
      width: 60px;
      height: 60px;
      fill: $colorBack;
    }
  }

  .desktop {
    display: none;
    bottom: 0;

    svg {
      padding-bottom: 5px;
      width: 30px;
      height: 30px;
      fill: $colorBack;
    }
  }

  .onpage {
    background: rgba(33, 37, 41, 0.7);
    border-radius: 50%;
  }

}

/*Media for desktop*/
@media only screen and (min-width: 900px) {
  nav {
    left: 0;
    width: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      flex-direction: column;
      margin-top: 60px;

      li {
        margin-bottom: 20px;

        svg {
          width: 50px;
          height: 50px;
        }
      }
    }


    .desktop {
      display: block;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .onpage {
      background: rgba(0, 0, 0, 0);
      border-radius: 0;

      border-top: 5px solid transparent;
      border-right: 5px solid rgba(33, 37, 41, 0.7);
      border-bottom: 5px solid transparent;
      border-left: 5px solid rgba(33, 37, 41, 0.7);
    }

  }


}