@import "reset";
@import "nav";

@font-face {
  font-family: Yanone-light;
  src: url(../fonts/yanone-regular.woff2);
}

@font-face {
  font-family: Yanone-regular;
  src: url(../fonts/yanone-regular.woff2);
}

@font-face {
  font-family: Yanone-bold;
  src: url(../fonts/yanone-bold.woff2);
}

@font-face {
  font-family: Bebas;
  src: url(../fonts/bebas.woff2);
}